<div class="container">
	<div class="row">
		<div class="panel panel-default">
		  <div class="panel-body">
		    <div class="text-center">
		    	<a href="/distribuciones/poison" class="btn btn-raised btn-primary">Poison</a>
			    <a href="javascript:void(0)" class="btn btn-raised btn-primary">Primary</a>
			    <a href="javascript:void(0)" class="btn btn-raised btn-primary">Primary</a>
		    </div>
		    <div class="text-center">
		    	<a href="javascript:void(0)" class="btn btn-raised btn-primary">Primary</a>
			    <a href="javascript:void(0)" class="btn btn-raised btn-primary">Primary</a>
			    <a href="javascript:void(0)" class="btn btn-raised btn-primary">Primary</a>
		    </div>
		    <div class="text-center">
		    	<a href="javascript:void(0)" class="btn btn-raised btn-primary">Primary</a>
			    <a href="javascript:void(0)" class="btn btn-raised btn-primary">Primary</a>
			    <a href="javascript:void(0)" class="btn btn-raised btn-primary">Primary</a>
		    </div>
		  </div>
		</div>
	</div>
</div>